## Github generated .gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Specific .gitignore
control_programs/swept_freq/ionogram*
control_programs/swept_freq/main.o
control_programs/swept_freq/swept_freq
ionosonde_server/*.o